<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details </h2>
    <div><span>id: </span> {{hero.id}} </div>
    <div>
        <label>Name: </label>
        <input [(ngModel)] = "hero.name" placeholder="name"/>
    </div>
    <button (click) = "goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>